/* body {
  background-color: rgb(230, 179, 200);
} */

* {
  font-family: "Jersey 25", sans-serif;
}

body {
  /* background-image: url("./assets/bg-img.webp"); */
  background-image: url("https://media1.tenor.com/m/EUMdl4ROLyUAAAAC/hello-kitty.gif");
  background-size: cover;
  background-position: center;
  font-family: "Jersey 25", sans-serif;

}

h1{
  font-family: "Jersey 25", sans-serif;
  font-weight: 200;
  color: rgb(253, 219, 246);
  font-size: 100px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.658);
}

button{
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 10px;
  background-color: rgb(255, 221, 242);
  /* color: rgb(255, 221, 242); */
  cursor: "pointer";
   transition-duration: 0.4s;
    box-shadow:
    2px 2px 0 white,
    4px 4px 0 black;
}


button:hover {
  background-color: #f2a3dc; 
  color: rgb(255, 255, 255);
}