/* GLOBAL FONT */
* {
  font-family: "Jersey 25", sans-serif;
}

/* BACKGROUND */
body {
  background-image: url("https://media1.tenor.com/m/EUMdl4ROLyUAAAAC/hello-kitty.gif");
  background-size: cover;
  background-position: center;
  margin: 0;
}

/* TITLE */
h1 {
  color: rgb(242, 185, 231);
  font-size: 100px;
  font-weight: 450;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  font-size: 100px;

}

h2{
  font-size: 35px;
}

/* BUTTON */
button {
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 10px;
  background-color: rgb(255, 221, 242);
  cursor: pointer;

  transition: 0.4s;

  box-shadow:
    2px 2px 0 white,
    4px 4px 0 black;
}

button:hover {
  background-color: #f2a3dc;
  color: white;
}

/* 🎮 ANIMATION */
@keyframes pulseAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}

/* APPLY ANIMATION */
.pulse {
  display: inline-block;
  animation: pulseAnimation 2.5s ease infinite;
}

.menu {
  min-height: 100vh;
  position: relative;
}

.button-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 display: flex;
  gap: 15px; 
}

.game {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.character {
  width: 300px;
  position: absolute;
  left: 300px;
  bottom: 180px;
}

.dialogue-box {
  position: absolute;
  bottom: 30px;
  left: 33%;
  bottom: 5%;
  /* transform: translateX(-50%); */

  width: 550px;
  max-width: 60%;

  background: rgba(255, 245, 250, 0.95);
  padding: 20px;
  border-radius: 20px;

  padding-top: 5px;


  box-shadow: 4px  4px 4px 0 black;
}

.dialogue-box button {
  margin-right: 15px;
}

.dialogue-box button:last-of-type {
  margin-right: 0;
}

.dialogue-box p {
  font-size: 30px;
}
.choices {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}